.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}
.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.successmsg {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: lightgreen;
    color: #000;
    padding: 0.25rem;
    position: relative;
    bottom: .75rem;
}

.successmsg > svg {
    margin-right: 0.25rem;
}

/*     MY PRODUCT DASHBOARD      */

textarea{
resize: none;
}

.priceinput{
background-image: url('../images/dollar1.png');
background-position: 5px 5px;
background-repeat: no-repeat;
padding-left: 40px;
}



.imageholder{
    min-width: 12rem;
    max-width: 12rem;
    min-height: 12rem;
    max-height: 12rem;
    border-radius: 5px;
    border: 2px dashed slategray;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
}
.defaultimage{
    min-width: 5rem;
    max-width: 5rem;
    min-height: 5rem;
    max-height: 5rem;
    margin-bottom: 2rem;
}

.picchooserbtn{

}